a {
  text-decoration: none;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'HelveticaNeueLight';
  margin-top: 40px;
}
h1:after {
  content: "";
  display: block;
  width: 95px;
  margin: auto;
  margin-top: 20px;
  border-top: 1px solid #2990cf;
}
.navbar .container {
  padding-left: 120px;
  padding-right: 120px;
}
.navbar-brand {
  height: auto;
  margin-left: 0;
  padding: 10px 15px;
  padding-right: 50px;
}
.navbar-inverse {
  background-color: white;
  border: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.navbar-nav > li > a {
  padding: 0 20px;
  line-height: 92px;
}
.navbar-right {
  margin-right: 0;
  padding-top: 12px;
}
.nav {
  font-family: 'helveticaneuemedium';
  text-transform: uppercase;
  font-size: 14px;
  height: 96px;
}
.nav > li {
  height: 100%;
}
.nav > li > a {
  color: #3f4446 !important;
  display: block;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.nav > li > a:hover,
.nav > li > a.active {
  background-color: #f3f6f6 !important;
  border-bottom-color: #29aff7;
}
.nav .telephone {
  color: #010101;
  font-size: 24px;
  font-family: 'PFDinTextCondProRegular';
  padding-left: 25px;
  background: url(../images/tel-icon.png) no-repeat;
  background-position: 1px;
}
.nav .leave-request {
  display: block;
  width: 100%;
  height: 30px;
  font-family: 'PFDinTextCondProMedium';
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  line-height: 32px;
  background: #1981c4;
  font-size: 18px;
  color: white;
}
.main-slider {
  padding-top: 96px;
  position: relative;
}
.slide-container {
  position: absolute;
  z-index: 2;
  width: 1000px;
  left: 50%;
  margin-left: -500px;
  top: 290px;
}
.slide-container .line {
  position: absolute;
  z-index: 1;
  margin-top: 72px;
}
.slide-container .line img {
  width: 100%;
  height: 10px;
}
.static-block {
  font-family: 'HelveticaNeue';
  position: relative;
  z-index: 2;
}
.static-block .circle {
  float: left;
  margin-left: 63px;
  width: 169px;
  height: 168px;
  background: url(../images/circle-bg.png) no-repeat;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  color: black;
  line-height: 1.1;
}
.static-block .circle-cell {
  width: 169px;
  height: 168px;
  display: table-cell;
  vertical-align: middle;
}
.order-site {
  margin-top: 65px;
}
.order-link {
  width: 265px;
  height: 60px;
  margin: auto;
  display: block;
  text-align: center;
  text-transform: uppercase;
  background: #fd0534;
  color: white !important;
  font-family: 'PFDinTextCondProMedium';
  font-size: 16px;
  line-height: 60px;
  text-decoration: none !important;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  order-radius: 6px;
}
.our-services header {
  text-align: center;
  padding: 40px 0;
}
.our-services h1 {
  display: inline-block;
  font-family: 'HelveticaNeueLight';
  text-transform: uppercase;
  margin: 0;
}
.our-services h1:after {
  content: "";
  display: block;
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
  border-top: 1px solid #2990cf;
}
.services-item {
  border-top: 1px solid #d2dbdb;
}
.services-item:last-child {
  border-bottom: 1px solid #d2dbdb;
}
.services-container {
  padding-left: 140px;
  padding-right: 140px;
}
.serv-block {
  height: 300px;
  position: relative;
  text-align: center;
  overflow: hidden;
  border-left: 1px solid #d2dbdb;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.serv-block:last-child {
  border-right: 1px solid #d2dbdb;
}
.serv-block:hover {
  background-color: #323a44;
}
.serv-block:hover .serv-title {
  color: white;
}
.serv-block:hover .serv-visible {
  top: 0;
}
.serv-block:hover .serv-desc {
  bottom: 35px;
}
.serv-img {
  width: 100px;
  margin: auto;
  height: 100px;
  text-align: center;
}
.serv-cell {
  width: 100px;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
}
.adv-img {
  height: 120px;
}
.adv-img .serv-cell {
  height: 120px;
}
.serv-title {
  font-family: 'helveticaneuemedium';
  font-size: 15px;
  color: #040404 0;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.serv-desc {
  color: #cfd8e2;
  font-size: 13px;
  font-family: 'OpenSansRegular';
  position: absolute;
  width: 100%;
  bottom: -130px;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.serv-desc ul {
  margin: 30px 0;
}
.serv-desc .more {
  font-family: 'PFDinTextCondProRegular';
  color: #23baff;
  font-size: 12px;
  text-transform: uppercase;
}
.serv-visible {
  position: relative;
  top: 80px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.adv-block .serv-visible {
  top: 60px;
}
.about-us {
  background: url(../images/about.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 100px;
  margin-top: 2px;
}
.about-wrapper {
  padding-left: 140px;
  padding-right: 140px;
}
.about-wrapper header {
  font-family: 'HelveticaNeueLight';
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding-top: 40px;
}
.about-wrapper h1 {
  margin: 0;
  display: inline-block;
}
.about-wrapper h1:after {
  content: "";
  width: 95px;
  margin: auto;
  display: block;
  border-top: 1px solid white;
  margin-top: 20px;
}
.about-item {
  padding-top: 105px;
}
.about-block {
  width: 148px;
  height: 148px;
  float: left;
  margin-left: 45px;
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 1.1;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.about-block:hover {
  background-color: #323a44;
}
.about-block:hover .about-desc-cell {
  color: white;
}
.about-block:hover .about-icon.projects {
  background: url(../images/projects-h.png) no-repeat;
  background-position: 50%;
}
.about-block:hover .about-icon.year {
  background: url(../images/year-h.png) no-repeat;
  background-position: 50%;
}
.about-block:hover .about-icon.more {
  background: url(../images/more-h.png) no-repeat;
  background-position: 50%;
}
.about-block:hover .about-icon.telephone {
  background: url(../images/telephone-h.png) no-repeat;
  background-position: 50%;
}
.about-block:hover .about-icon.terms {
  background: url(../images/terms-h.png) no-repeat;
  background-position: 50%;
}
.about-block p {
  margin: 0;
}
.about-icon {
  width: 40px;
  height: 45px;
  margin: auto;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.about-icon.year {
  background: url(../images/year.png) no-repeat;
  background-position: 50%;
}
.about-icon.more {
  background: url(../images/more.png) no-repeat;
  background-position: 50%;
}
.about-icon.telephone {
  background: url(../images/telephone.png) no-repeat;
  background-position: 50%;
}
.about-icon.terms {
  background: url(../images/terms.png) no-repeat;
  background-position: 50%;
}
.about-icon.projects {
  background: url(../images/projects.png) no-repeat;
  background-position: 50%;
}
.about-desc-cell {
  width: 148px;
  height: 103px;
  line-height: 1;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  color: #0a86bf;
}
.about-desc-cell p {
  font-family: 'helveticaneuemedium';
}
.about-desc-cell .large {
  font-size: 48px;
  line-height: 38px;
}
.about-desc-cell .middle {
  font-size: 24px;
  text-transform: uppercase;
}
.about-desc-cell .small {
  font-size: 14px;
  text-transform: uppercase;
}
.about-desc-cell .large-text {
  font-size: 30px;
  text-transform: uppercase;
}
.about-desc-cell .middle-text {
  font-size: 18px;
  text-transform: uppercase;
}
.read-more {
  margin-top: 70px;
}
.read-link {
  width: 275px;
  height: 35px;
  display: block;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  color: white !important;
  text-decoration: underline;
  background-color: #323a44;
  font-family: 'PFDinTextCondProMedium';
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 1px;
}
.our-works {
  background: url(../images/works-bg.jpg) no-repeat 50%;
  background-size: cover;
  padding-bottom: 50px;
}
.our-works .read-more {
  margin-top: 40px;
}
.our-works header {
  text-align: center;
  padding-top: 40px;
}
.our-works h1 {
  text-transform: uppercase;
  display: inline-block;
  font-family: 'HelveticaNeueLight';
  margin: 0;
}
.our-works h1:after {
  content: "";
  display: block;
  width: 95px;
  margin: auto;
  margin-top: 15px;
  border-top: 1px solid #2990cf;
}
.carousel-projects {
  margin-top: 30px;
}
.carousel-projects .bx-wrapper {
  margin: auto;
}
.carousel-projects .bx-prev {
  left: 20px;
}
.carousel-projects .bx-next {
  right: 20px;
}
.our-clients {
  overflow: hidden;
}
.our-clients header {
  text-align: center;
  padding-top: 40px;
}
.our-clients h1 {
  text-transform: uppercase;
  display: inline-block;
  font-family: 'HelveticaNeueLight';
  margin: 0;
}
.our-clients h1:after {
  content: "";
  display: block;
  width: 95px;
  margin: auto;
  margin-top: 15px;
  border-top: 1px solid #2990cf;
}
.clients-wrapper,
.review-wrapper {
  padding-left: 140px;
  padding-right: 140px;
  position: relative;
  z-index: 2;
}
.clients-wrapper .bx-controls-direction,
.review-wrapper .bx-controls-direction {
  display: none;
}
.logo-block {
  width: 192px;
  height: 191px;
  background-color: white;
  text-align: center;
  border: 1px solid #707b7b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.logo-cell {
  display: table-cell;
  vertical-align: middle;
  width: 192px;
  height: 191px;
}
.logo-title {
  text-align: center;
  font-family: 'HelveticaNeueThin';
  font-size: 24px;
  margin-top: 10px;
}
.logo-carousel {
  margin-top: 55px;
}
.review-wrapper {
  margin-top: 125px;
  padding-bottom: 75px;
}
.review-wrapper .read-more {
  margin-top: 40px;
}
.review-content {
  padding-left: 236px;
  min-height: 240px;
}
.review-logo {
  width: 236px;
  height: 236px;
  border: 1px solid #707b7b;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  display: table;
  table-layout: fixed;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.review-logo img {
  max-width: 100%;
  height: auto;
}
.review-logo-cell {
  display: table-cell;
  vertical-align: middle;
}
.review-desc {
  font-family: 'HelveticaNeueLight';
  font-size: 20px;
  width: 764px;
  padding-left: 30px;
  color: #323a44;
}
.review-desc p {
  margin: 0;
}
.review-desc b {
  font-family: 'PFDinTextCondProMedium';
  color: #323a44;
  display: block;
  font-weight: normal;
  margin-top: 40px;
}
.review-desc-cell {
  height: 235px;
  padding-top: 30px;
}
.review-carousel {
  margin-top: 20px;
}
.girl {
  position: relative;
}
.girl-img {
  position: absolute;
  right: -460px;
  top: 70px;
  z-index: 1;
}
.submit {
  background: url(../images/submit-bg.jpg) no-repeat 50%;
  background-size: cover;
}
.submit-form {
  width: 702px;
  height: 558px;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
}
.submit-form h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'HelveticaNeueLight';
  margin-top: 40px;
}
.submit-form h1:after {
  content: "";
  width: 95px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 25px;
  border-top: 1px solid #2990cf;
}
.submit-form fieldset {
  width: 645px;
  margin: auto;
}
.input-text {
  width: 100%;
  height: 45px;
  outline: 0;
  border: 1px solid #9aa0a6;
  font-family: 'HelveticaNeueCyrThin';
  font-size: 20px;
  color: black;
  padding-left: 10px;
}
.input-text::-webkit-input-placeholder {
  color: black;
}
.input-text::-moz-placeholder {
  color: black;
}
.input-text:-moz-placeholder {
  color: black;
}
.input-text:-ms-input-placeholder {
  color: black;
}
.my-textarea {
  resize: none;
  width: 100%;
  outline: 0;
  border: 1px solid #9aa0a6;
  font-family: 'HelveticaNeueCyrThin';
  font-size: 20px;
  color: black;
  padding-left: 10px;
  padding-top: 5px;
  height: 95px;
}
.my-textarea::-webkit-input-placeholder {
  color: black;
}
.my-textarea::-moz-placeholder {
  color: black;
}
.my-textarea:-moz-placeholder {
  color: black;
}
.my-textarea:-ms-input-placeholder {
  color: black;
}
.input-block {
  margin-bottom: 15px;
}
.submit-btn {
  text-align: center;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  font-family: 'PFDinTextCondProMedium';
  font-size: 16px;
  width: 335px;
  height: 60px;
  display: block;
  margin: auto;
  color: white;
  background: #fd0534;
  margin-top: 10px;
  letter-spacing: 1px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.news {
  background: url(../images/news-bg.jpg) no-repeat 50%;
  background-size: cover;
  padding-bottom: 140px;
}
.news-carousel {
  margin-top: 90px;
  text-align: center;
}
.news-carousel .date {
  font-family: 'HelveticaNeueLight';
  font-size: 13px;
  color: #a3a3a3;
  margin-top: 20px;
}
.news-carousel h4 {
  font-family: 'PFDinTextCondProRegular';
  color: #2990cf;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  margin-top: 20px;
}
.news-carousel .news-text {
  height: 115px;
  font-size: 16px;
  color: #323a44;
  font-family: 'HelveticaNeueLight';
}
.news-carousel .text-cell {
  width: 288px;
  height: 115px;
  padding: 0 50px;
  display: table-cell;
  vertical-align: middle;
}
.news-carousel .more {
  width: 100%;
  display: block;
  height: 35px;
  background: #323a44;
  text-transform: uppercase;
  text-decoration: underline;
  color: white !important;
  font-family: 'PFDinTextCondProMedium';
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 35px;
}
.news-carousel .bx-wrapper {
  margin: auto;
}
.news-block {
  background: white;
  height: 434px;
}
.contacts {
  background: #323a44;
  padding-bottom: 60px;
}
.contacts h1 {
  color: white;
}
.contacts-wrapper {
  padding-left: 148px;
  padding-right: 140px;
}
.contact-block {
  background: #46505c;
  padding-top: 20px;
  width: 288px;
  margin-left: 30px;
  float: left;
}
.contact-block h4 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: 'PFDinTextCondProMedium';
  letter-spacing: 1px;
  margin: 0;
}
.contact-text {
  text-align: center;
}
.contact-cell {
  display: table-cell;
  vertical-align: middle;
  width: 400px;
  height: 130px;
}
.foot-tel {
  font-size: 30px;
  color: white;
  font-family: 'pf_din_text_cond_prothin';
}
.get-call {
  text-transform: uppercase;
  font-family: 'PFDinTextCondProMedium' !important;
  font-size: 13px !important;
  color: #0bc2f8 !important;
  letter-spacing: 1px;
  border-top: 1px solid #0bc2f8;
  text-decoration: none !important;
  padding-top: 4px;
  border-bottom: 0 !important;
  cursor: pointer;
}
.adress {
  font-family: 'PFDinTextProThin';
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}
.social li {
  display: inline-block;
  text-align: center;
}
.contact-item {
  margin-top: 50px;
}
.copyright {
  text-align: center;
  font-family: 'PFDinTextProThin';
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  padding-top: 55px;
}
.blog {
  padding-top: 96px;
}
.blog .container {
  padding-left: 140px;
  padding-right: 140px;
}
.blog h1 {
  margin-top: 70px;
}
.main-h2 {
  font-family: 'helveticaneuemedium';
  color: #323a44;
  margin: 0;
}
.blog-img {
  margin-top: 40px;
  margin-bottom: 35px;
}
.blog-img img {
  width: 100%;
  height: auto;
}
.blog-text {
  font-family: 'MyriadProRegular';
  color: #323a44;
  font-size: 20px;
  padding-bottom: 50px;
}
.blog-text-wrapper {
  margin-top: 45px;
}
.next-link {
  background: #eaedee;
}
.next-link .container {
  padding-left: 140px;
  padding-right: 140px;
}
.link-wrapper {
  padding: 60px 0;
}
.prev-article,
.next-article,
.read-article {
  width: 270px;
  height: 60px;
  display: block;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
  background: #1981c4;
  font-size: 16px;
  letter-spacing: 1px;
  color: white !important;
  font-family: 'PFDinTextCondProMedium';
  text-decoration: none !important;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.prev-article {
  float: left;
}
.next-article {
  float: right;
}
.read-article {
  margin: auto;
}
.footer-menu {
  font-family: 'PFDinTextCondProMedium';
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 35px;
}
.footer-menu li {
  float: left;
  border-right: 2px solid #46505c;
  line-height: 1;
  padding: 0 5%;
  margin-bottom: 10px;
}
.footer-menu li:first-child {
  padding-left: 0;
}
.footer-menu li:last-child {
  padding-right: 0;
  border-right: 0;
}
.footer-menu a {
  color: white !important;
  text-decoration: none !important;
}
.article-post {
  padding-bottom: 35px;
  padding-top: 45px;
}
.post-img {
  padding-right: 20px;
  float: left;
  width: 36%;
}
.post-img img {
  max-width: 100%;
  height: auto;
}
.post-text {
  float: left;
  width: 64%;
  color: #323a44;
}
.post-text h2 {
  font-family: 'helveticaneuemedium';
  margin-top: 0;
  margin-bottom: 20px;
  color: #323a44;
}
.post-text p {
  font-size: 20px;
  font-family: 'MyriadProRegular';
  line-height: 1.3;
}
.post-text a {
  border-bottom: 1px solid #5d9dd0;
  text-decoration: none !important;
  color: #1981c4;
  font-size: 20px;
  font-family: 'MyriadProRegular';
}
.without-img .post-text {
  width: 100%;
}
.blog-wrapper .container {
  padding-left: 140px;
  padding-right: 140px;
}
.blog-wrapper:nth-child(2n) {
  background: #f2f4f4;
}
.menu-fixed {
  position: fixed;
  left: 0;
  top: 96px;
  width: 100%;
  background: #edf2f3;
  z-index: 10;
}
.menu-fixed .navbar-collapse.collapse {
  float: none;
}
.menu-fixed .navbar-toggle {
  margin-right: 7px;
  margin-top: 8px;
}
.menu-fixed .navbar-toggle .icon-bar {
  background-color: white;
}
.menu-fixed .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.second-menu .container {
  padding-left: 120px;
  padding-right: 120px;
}
.second-menu ul {
  margin-bottom: 0;
}
.second-menu li {
  float: left;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'helveticaneuemedium';
  line-height: 1.2;
  padding: 31px 0;
}
.second-menu li:first-child {
  width: 14%;
  padding: 31px 13px;
}
.second-menu li:nth-child(2) {
  width: 17%;
  padding: 31px 14px;
}
.second-menu li:nth-child(3) {
  width: 20.5%;
  padding: 31px 21px;
}
.second-menu li:nth-child(4) {
  width: 20%;
  padding: 31px 19px;
}
.second-menu li:nth-child(5) {
  width: 15%;
}
.second-menu li:last-child {
  text-align: right;
  width: 13.5%;
}
.second-menu li a {
  color: #596574;
  text-decoration: none !important;
}
.second-menu li a:hover,
.second-menu li a.active {
  color: #0094e4;
}
.design {
  margin-top: 186px;
}
.design .container {
  padding-left: 140px;
  padding-right: 140px;
}
.logo-wrapper {
  margin-top: 13px;
  padding: 25px 0;
  background: #328eca;
  /* Old browsers */
  background: -moz-linear-gradient(top, #328eca 0%, #2985c1 33%, #1e7bb7 66%, #1773af 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #328eca), color-stop(33%, #2985c1), color-stop(66%, #1e7bb7), color-stop(100%, #1773af));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #328eca 0%, #2985c1 33%, #1e7bb7 66%, #1773af 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #328eca 0%, #2985c1 33%, #1e7bb7 66%, #1773af 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #328eca 0%, #2985c1 33%, #1e7bb7 66%, #1773af 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #328eca 0%, #2985c1 33%, #1e7bb7 66%, #1773af 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#328eca', endColorstr='#1773af', GradientType=0);
  /* IE6-9 */

}
.logo-wrapper .container {
  padding-left: 220px;
  padding-right: 220px;
}
.icon-block {
  font-size: 15px;
  text-align: center;
}
.icon-block .title {
  text-transform: uppercase;
  color: white;
  font-family: 'helveticaneuemedium';
  line-height: 1.2;
}
.icon-block .price {
  font-family: 'HelveticaNeueLight';
  color: #35d1ff;
}
.icon-cell {
  width: 800px;
  height: 95px;
  display: table-cell;
  vertical-align: middle;
}
.design-block {
  padding-top: 30px;
  padding-bottom: 12px;
}
.design-block:nth-child(2n) {
  background: #f5fafb;
}
.design-text {
  border-left: 1px solid #c9d7da;
  width: 42.5%;
  padding-left: 35px;
}
.design-text .text {
  color: #323a44;
  font-size: 18px;
  font-family: 'HelveticaNeueLight';
  height: 145px;
  line-height: 1.3;
}
.design-text .list {
  font-family: 'HelveticaNeue';
  color: #0097e5;
  font-size: 16px;
}
.design-text .list li {
  position: relative;
  padding-left: 14px;
}
.design-text .list li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #0097e5;
}
.design-logo {
  text-align: center;
  width: 22%;
}
.design-logo .title {
  font-family: 'helveticaneuemedium';
  font-size: 15px;
  text-transform: uppercase;
  color: #040404;
  line-height: 1.2;
}
.design-logo .icon-cell {
  height: 125px;
}
.design-logo .price {
  font-family: 'HelveticaNeueLight';
  color: #747e81;
  font-size: 15px;
}
.design-slide {
  width: 35.5%;
}
.design-slide .order-btn {
  display: block;
  width: 275px;
  margin: auto;
  margin-top: 5px;
  height: 55px;
  line-height: 55px;
  background: #fd0534;
  color: white;
  text-decoration: none !important;
  text-align: center;
  text-transform: uppercase;
  font-family: 'PFDinTextCondProMedium';
  letter-spacing: 1px;
  font-size: 16px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.design-slider {
  width: 275px;
  margin: auto;
}
.design-slider .bx-controls-direction {
  width: 100%;
  margin-left: -50%;
}
.design-slider .bx-controls-direction a {
  width: 12px !important;
  height: 22px !important;
  margin-top: -11px !important;
  opacity: 1 !important;
}
.design-slider .bx-prev {
  background: url(../images/design-prev.png) no-repeat;
  left: -30px !important;
}
.design-slider .bx-next {
  background: url(../images/design-next.png) no-repeat;
  right: -30px !important;
}
.design-list {
  margin-top: 15px;
  padding-bottom: 20px;
}
.flowers {
  background: url(../images/flowers.jpg) no-repeat 50%;
  background-size: cover;
}
.main-container {
  padding-left: 140px;
  padding-right: 140px;
}
.about-company {
  background: #eaedee;
  padding-bottom: 75px;
}
.about-company h1 {
  margin-top: 50px;
}
.about-text {
  background: white;
  padding: 60px 70px;
  position: relative;
  margin-top: 55px;
  color: #323a44;
  font-family: 'HelveticaNeue';
}
.about-text:after {
  content: '';
  position: absolute;
  width: 47px;
  height: 46px;
  bottom: -46px;
  right: 50px;
  background: url(../images/about-text.png) no-repeat;
}
.about-text h2 {
  font-family: 'HelveticaNeueLight';
  margin-bottom: 45px;
  margin-top: 0;
}
.about-text p {
  font-size: 18px;
  line-height: 1.6;
}
.main-contact {
  margin-top: 96px;
  background: #eaedee;
  padding-bottom: 110px;
}
.main-contact .main-container {
  padding-left: 175px;
}
.contact-list {
  float: left;
  width: 53%;
  background: white;
  padding: 30px 35px 30px 45px;
  border: 1px solid #9ba1a7;
}
.contact-list li {
  margin-bottom: 30px;
}
.contact-list h4 {
  text-transform: uppercase;
  font-family: 'PFDinTextCondProMedium';
  margin-top: 0;
  margin-bottom: 10px;
}
.contact-list .number {
  font-family: 'HelveticaNeueThin';
  font-size: 22px;
  color: #0e0e0e;
}
.contact-list .date {
  font-family: 'MyriadProRegular';
  color: #a0aab7;
  font-size: 13px;
  text-transform: uppercase;
  margin: 5px 0;
}
.contact-list .get-call {
  display: inline-block;
}
.contact-list a {
  font-family: 'HelveticaNeueThin';
  color: #2990cf;
  font-size: 22px;
  text-decoration: none;
  border-bottom: 1px solid #2990cf;
}
.contact-list .adress {
  font-family: 'HelveticaNeueCyrThin';
  color: #121212;
  letter-spacing: 0;
  font-size: 22px;
  line-height: 1.1;
}
.contact-form {
  float: right;
  width: 43%;
}
.contact-form .my-textarea {
  height: 145px;
}
.contact-form .submit-btn {
  width: 100%;
  height: 55px;
  line-height: 55px;
  margin-bottom: 0;
}
.main-contact-content {
  margin-top: 45px;
}
.maps {
  height: 659px;
  background: url(../images/maps.jpg) no-repeat 50%;
  background-size: cover;
}
.footer-menu-second {
  font-family: 'MyriadProRegular';
  font-size: 17px;
  text-align: left;
}
.footer-menu-second li {
  padding: 0;
  padding-left: 10px !important;
  padding-right: 10px;
  width: 16.6%;
  border-right: 0;
  line-height: 1.5;
  border-left: 2px solid #46505c;
}
.about-us-second {
  margin-top: 96px;
  padding-bottom: 200px;
}
.history-wrap {
  color: #323a44;
  text-align: center;
}
.history-wrap h2 {
  font-family: 'HelveticaNeueLight';
  margin-top: 0;
  margin-bottom: 35px;
}
.history-wrap p {
  font-size: 18px;
  font-family: 'HelveticaNeue';
  line-height: 1.7;
}
.history-block {
  margin-top: 40px;
  padding: 0 80px;
  padding-bottom: 20px;
}
.team {
  background: #f5fafb;
  border-top: 1px solid white;
  padding-bottom: 55px;
}
.team-wrapper {
  margin-top: 30px;
}
.team-block {
  float: left;
  width: 20%;
}
.team-block img {
  max-width: 100%;
  height: auto;
}
.team-block .title {
  font-family: 'HelveticaNeueLight';
  font-size: 24px;
  margin-top: 10px;
}
.team-block .name {
  font-family: 'HelveticaNeueLightItalic';
  font-size: 16px;
  color: #848484;
}
.principles {
  padding-bottom: 60px;
}
.principles-list {
  font-family: 'HelveticaNeueUltraLight';
  font-size: 36px;
  color: #191919;
  position: relative;
  margin-top: 45px;
}
.principles-list .list-pos {
  float: right;
  right: 50%;
  position: relative;
}
.principles-list ul {
  position: relative;
  left: 50%;
  float: left;
  display: inline-block;
}
.principles-list li {
  position: relative;
  padding-left: 65px;
  line-height: 1.6;
}
.principles-list li:before {
  content: '';
  position: absolute;
  width: 36px;
  height: 28px;
  top: 50%;
  margin-top: -18px;
  background: url(../images/galochka.png) no-repeat;
  left: 0;
}
.our-clients-second {
  background: #f5fafb;
  padding-bottom: 60px;
}
.view-portfolio {
  background: url(../images/green.jpg) no-repeat 50%;
  background-size: cover;
  padding: 80px 15px;
}
.red-link {
  text-transform: uppercase;
  text-align: center;
  color: white !important;
  text-decoration: none !important;
  font-family: 'PFDinTextCondProMedium';
  font-size: 16px;
  background: #fd0534;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  height: 60px;
  line-height: 60px;
  width: 335px;
  margin: auto;
  display: block;
}
.view-all-review {
  display: block;
  width: 215px;
  height: 35px;
  line-height: 35px;
  float: right;
  text-transform: uppercase;
  text-align: center;
  color: white !important;
  text-decoration: underline;
  background: #323a44;
  font-family: 'PFDinTextCondProMedium';
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 45px;
}
.review {
  margin-top: 96px;
}
.review h1 {
  margin-top: 65px;
}
.review-block {
  padding-top: 45px;
  padding-bottom: 40px;
}
.review-block:nth-child(2n) {
  background: #f5fafb;
}
.my-review-text {
  padding-top: 10px;
  padding-right: 20px;
  color: #323a44;
  position: relative;
}
.my-review-text p {
  font-size: 18px;
  font-family: 'HelveticaNeueLight';
  margin-bottom: 15px;
}
.my-review-text b {
  font-family: 'helveticaneuemedium';
  font-size: 18px;
  margin-top: 30px;
  display: block;
  font-weight: normal;
}
.my-next-link {
  background: white;
}
.my-next-link .link-wrapper {
  padding-top: 75px;
  padding-bottom: 65px;
}
.other-second-menu .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.other-second-menu li {
  padding: 31px 0 !important;
}
.other-second-menu li:first-child {
  width: 12.5%;
}
.other-second-menu li:nth-child(2) {
  width: 9%;
}
.other-second-menu li:nth-child(3) {
  width: 19%;
}
.other-second-menu li:nth-child(4) {
  width: 22%;
}
.other-second-menu li:nth-child(5) {
  width: 25%;
}
.other-second-menu li:last-child {
  width: 12.5%;
}
.portfolio {
  margin-top: 172px;
}
.portfolio-wrapper {
  margin: 50px 0;
}
.portfolio-wrapper .col-xs-6:last-child img {
  margin-left: -0.5px;
}
.port-link {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.port-link img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.port-link img:hover {
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}
.promo-block {
  text-align: center;
}
.promo-block:nth-child(3) {
  width: 22%;
}
.promo-block:last-child {
  width: 28%;
}
.promo-block .title {
  color: white;
  font-size: 13px;
  font-family: 'helveticaneuemedium';
  text-align: center;
  text-transform: uppercase;
  line-height: 1.1;
}
.promo-block .price {
  font-size: 15px;
  color: #35d1ff;
  text-align: center;
  font-family: 'HelveticaNeueLight';
}
.promo-wrapper {
  margin-top: 13px;
}
.promo-wrapper .container {
  padding-left: 140px;
  padding-right: 140px;
}
.promo-wrapper .icon-cell {
  height: 100px;
}
.adver-img {
  height: 105px;
  text-align: center;
}
.advertising {
  padding-bottom: 5px;
}
.advertising:nth-child(odd) {
  background: #f5fafb;
}
.advertising-wrapper {
  margin-top: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d8e4e6;
}
.adver-title {
  font-family: 'HelveticaNeueLight';
  font-size: 16px;
  color: black;
  line-height: 1.2;
  text-align: center;
}
.info-slide {
  padding-top: 40px;
  padding-bottom: 15px;
}
.info-slide .order-btn {
  display: block;
  width: 275px;
  margin: auto;
  margin-top: 5px;
  height: 55px;
  line-height: 55px;
  background: #fd0534;
  color: white;
  text-decoration: none !important;
  text-align: center;
  text-transform: uppercase;
  font-family: 'PFDinTextCondProMedium';
  letter-spacing: 1px;
  font-size: 16px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.promo-text {
  color: #323a44;
  font-size: 18px;
  font-family: 'HelveticaNeueLight';
  padding-right: 40px;
  line-height: 1.3;
}
.designing-container {
  padding-left: 400px !important;
  padding-right: 400px !important;
}
.designing-container .icon-block:last-child {
  float: right;
}
.designing-container .icon-block .title {
  height: 30px;
}
.development-wrapper {
  padding-top: 25px;
  padding-bottom: 35px;
}
.development-wrapper .container {
  padding-left: 95px;
  padding-right: 95px;
}
.development-wrapper .icon-block .title {
  font-size: 13px;
  margin-bottom: 10px;
}
.web-block:nth-child(odd) {
  background: #f5fafb;
}
.web-block:nth-child(2n) {
  background: white;
}
.web-list {
  margin-top: 5px;
}
.number-slide-block {
  width: 175px;
  float: left;
}
.step-info .number-slide {
  width: 120px;
  height: 120px;
  margin: auto;
  font-family: 'UniversCondensedMedium';
  font-size: 48px;
  color: #0da0ec;
  text-align: center;
  border: 3px solid #0da0ec;
  border-radius: 50%;
}
.step-info .number-slide-cell {
  display: table-cell;
  vertical-align: middle;
  width: 120px;
  height: 115px;
}
.step-desc {
  width: 650px;
  color: #323a44;
  float: left;
}
.step-desc h2 {
  font-family: 'heliosc';
  line-height: 1;
  margin-bottom: 25px;
  margin-top: 0;
}
.step-desc p {
  font-family: 'MyriadProRegular';
  font-size: 18px;
  line-height: 1.6;
}
.step-slider {
  margin-top: 55px;
}
.step-thumbnail {
  margin-bottom: 55px;
}
.data-slide {
  display: block;
  float: left;
  width: 173px;
  height: 78px;
  background: url(../images/pager.png) no-repeat;
  text-align: center;
  line-height: 1.2;
  font-family: 'HelveticaNeueLight';
  font-size: 12px;
  color: #323a44;
  text-transform: uppercase;
  text-decoration: none !important;
  margin-left: -20px;
  position: relative;
}
.data-slide:hover,
.data-slide.active {
  background: url(../images/pager-active.png) no-repeat;
  color: white;
}
.data-slide:first-child {
  margin-left: 0;
}
.data-slide-cell {
  width: 173px;
  height: 78px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 25px;
}
.number-icon {
  position: absolute;
  left: 50%;
  margin-left: -17px;
  top: -17px;
}
.step-slider {
  padding-left: 30px;
  padding-bottom: 45px;
}
.step-slider .bx-wrapper .bx-next {
  width: 78px;
  height: 110px;
  background: url(../images/step-next.png) no-repeat;
  opacity: 1 !important;
  margin-top: -55px;
  right: -110px;
}
.step-slider .bx-wrapper .bx-prev {
  display: none;
}
.step-slider .bx-controls-direction {
  left: 0 !important;
  width: 100% !important;
  margin-left: 0 !important;
}
.step-wrapper {
  background: #f5fafb;
}
.project-wrapper {
  margin-top: 96px;
}
.main-project {
  text-align: center;
  padding-bottom: 35px;
}
.main-project h1 {
  margin-bottom: 35px;
  margin-top: 0;
}
.main-project h1:after {
  content: none;
}
.main-project img {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.33);
}
.proj-text {
  margin-top: 75px;
  margin-bottom: 50px;
}
.proj-text .proj-img {
  float: left;
  width: 28%;
  text-align: center;
}
.proj-text .proj-img .proj-link {
  font-family: 'HelveticaNeue';
  text-transform: uppercase;
  color: #00b0fa;
  font-size: 18px;
  display: inline-block;
  margin-top: 20px;
}
.proj-text .proj-right {
  float: left;
  width: 72%;
  padding-left: 10px;
  font-family: 'HelveticaNeueLight';
}
.proj-text .proj-right p {
  margin: 0;
  margin-top: 30px;
  color: #323a44;
  font-size: 20px;
  line-height: 1.4;
}
.proj-text .proj-right ul {
  text-transform: uppercase;
  font-size: 16px;
}
.proj-text .proj-right ul li {
  float: left;
  line-height: 1;
  border-right: 1px solid #00b0fa;
  padding: 0 7px;
  margin-bottom: 10px;
}
.proj-text .proj-right ul li:last-child {
  border-right: 0;
  padding-right: 0;
}
.proj-text .proj-right ul li:first-child {
  padding-left: 0;
}
.proj-text .proj-right ul a {
  color: #00b0fa;
  text-decoration: none !important;
  border-bottom: 1px solid #00b0fa;
}
.proj-text .proj-right ul a:hover,
.proj-text .proj-right ul a.active {
  color: #323a44;
  border-bottom-color: transparent;
}
.proj-text img {
  max-width: 100%;
  height: auto;
}
.apps {
  margin-top: 186px;
}
.variant {
  text-align: center;
  padding-bottom: 30px;
}
.variant .title {
  text-transform: uppercase;
  color: #00c0f7;
  font-size: 30px;
  font-family: 'HelveticaNeueLight';
}
.apps-img {
  height: 120px;
}
.apps-cell {
  width: 1000px;
  height: 120px;
  display: table-cell;
  vertical-align: middle;
}
.tech {
  margin-top: 186px;
  background-color: #f5fafb;
  padding-bottom: 15px;
}
input.error,
textarea.error {
  border: 3px solid red;
}
.social-sign {
  margin-top: 15px;
}
.social-sign img {
  margin-right: 25px;
  margin-bottom: 10px;
}
.tech-info {
  margin-top: 30px;
}
.tech-container {
  width: 600px;
  margin: auto;
  text-align: center;
}
.tech-container .head {
  text-transform: uppercase;
  font-family: 'helveticaneuemedium';
  font-size: 15px;
  color: #040404;
}
.tech-container .price {
  color: #747e81;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'HelveticaNeueLight';
}
.headphones {
  width: 112px;
  height: 102px;
  line-height: 102px;
  margin: 20px auto;
  text-align: center;
  background: url(../images/headphones.png) no-repeat;
}
.headphones .how-cost {
  display: inline-block;
  font-family: 'HelveticaNeueBold';
  font-size: 20px;
  color: #39ace1;
}
.red-btn {
  display: block;
  background-color: #fd0534;
  color: white !important;
  text-decoration: none !important;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'PFDinTextCondProMedium';
  height: 60px;
  line-height: 60px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.show-tarif {
  margin: auto;
  margin-top: 25px;
  width: 410px;
}
.monthly {
  background-color: #f5fafb;
  padding-bottom: 45px;
}
.table-month {
  width: 100%;
  margin-top: 35px;
}
.table-month thead {
  background-color: #dce6e7;
  text-transform: uppercase;
  font-family: 'HelveticaNeue';
  color: #191919;
  font-size: 14px;
}
.table-month thead td {
  border-left: 1px solid white;
  padding: 0 42px;
}
.table-month thead td:first-child {
  border-left: 0;
}
.table-month td {
  vertical-align: middle;
  height: 70px;
  text-align: center;
}
.table-month td:first-child {
  width: 29%;
}
.table-month td:nth-child(2) {
  width: 18%;
}
.table-month td:nth-child(3) {
  width: 18%;
}
.table-month td:nth-child(4) {
  width: 17%;
}
.table-month td:last-child {
  width: 18%;
}
.table-month tbody {
  background-color: white;
  font-family: 'HelveticaNeue';
  font-size: 14px;
  color: #576162;
}
.table-month tbody td {
  border-left: 1px solid #dce6e7;
  border-bottom: 1px solid #dce6e7;
}
.table-month tbody td:first-child {
  border-left: 0;
}
.table-month tbody .large-text {
  text-transform: uppercase;
  font-family: 'helveticaneuemedium';
  color: #576162;
  font-size: 14px;
}
.table-month tbody .large-price {
  font-size: 18px;
}
.table-month tbody tr:last-child td {
  border: 0;
  height: 80px;
}
.time-support {
  padding-bottom: 60px;
}
.order-tarif {
  width: 94%;
  margin: auto;
}
.support-block {
  margin-top: 20px;
}
.support-block .price {
  color: #747e81;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'HelveticaNeueLight';
}
.support-icon {
  float: left;
  width: 14%;
}
.support-desc {
  float: left;
  width: 86%;
  padding-left: 40px;
}
.support-desc {
  font-family: 'HelveticaNeueLight';
  color: #323a44;
  font-size: 20px;
  line-height: 1.5;
  padding-top: 15px;
}
.support-desc .red-btn {
  width: 165px;
  float: right;
  margin-top: 30px;
  margin-right: 10px;
}
.form-mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1050;
}
.pop-up {
  display: none;
  position: fixed;
  z-index: 2000;
  width: 705px;
  height: 345px;
  left: 50%;
  top: 50%;
  margin-left: -352.5px;
  margin-top: -172.5px;
  background: #328fca;
  /* Old browsers */
  background: -moz-linear-gradient(top, #328fca 0%, #2481bc 50%, #1774af 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #328fca), color-stop(50%, #2481bc), color-stop(100%, #1774af));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #328fca 0%, #2481bc 50%, #1774af 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #328fca 0%, #2481bc 50%, #1774af 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #328fca 0%, #2481bc 50%, #1774af 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #328fca 0%, #2481bc 50%, #1774af 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#328fca', endColorstr='#1774af', GradientType=0);
  /* IE6-9 */

}
.pop-up header {
  text-transform: uppercase;
  padding-top: 35px;
  color: white;
  font-size: 36px;
  text-align: center;
  font-family: 'HelveticaNeueLight';
}
.pop-up header:after {
  content: "";
  display: block;
  width: 95px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 25px;
  border-top: 1px solid white;
}
.pop-up fieldset {
  padding: 0 25px;
}
.pop-up input[type="text"] {
  width: 100%;
  outline: 0;
  border: 1px solid #9aa0a6;
  height: 45px;
  font-family: 'HelveticaNeueCyrThin';
  font-size: 20px;
  color: #61696e;
  padding-left: 10px;
}
.pop-up input[type="submit"] {
  border: 0;
  outline: 0;
  display: block;
  width: 335px;
  height: 60px;
  text-transform: uppercase;
  margin: auto;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  font-family: 'PFDinTextCondProMedium';
  color: #484848;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: lightgray;
  margin-top: 30px;
}
.pop-up .input-modal {
  margin-bottom: 12px;
}
.review-block-item {
  position: relative;
  padding-left: 270px;
  min-height: 245px;
}
.review-block-item .review-item {
  padding-right: 140px;
  min-height: 200px;
}
.my-review-logo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 235px;
  height: 235px;
  border: 1px solid #707b7b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  display: table;
  overflow: hidden;
  table-layout: fixed;
}
.my-review-logo img {
  max-width: 100%;
  height: auto;
}
.my-review-logo .logo-center {
  display: table-cell;
  vertical-align: middle;
}
.gramota {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 140px;
}
.gramota img {
  max-width: 100%;
  height: auto;
}
.pop-up input[type="text"]::-webkit-input-placeholder {
  color: black;
}
.pop-up input[type="text"]::-moz-placeholder {
  color: black;
}
.pop-up input[type="text"]:-moz-placeholder {
  color: black;
}
.pop-up input[type="text"]:-ms-input-placeholder {
  color: black;
}
.popup-warning {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 490px;
  height: 170px;
  margin-top: -85px;
  margin-left: -245px;
  background-color: #f7090e;
  display: none;
}
.popup-table {
  display: table;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  padding-right: 35px;
}
.popup-text {
  font-family: 'HelveticaNeue';
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
