@media (max-width: 1299px) {
  .slide-container .line{
    text-align: center;
  }
  .slide-container .line img{
    width: 95%;
  }
  .about-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .clients-wrapper,
  .review-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .next-link .container,
  .blog .container,
  .contacts-wrapper,
  .blog-wrapper .container {
    padding-left: 60px;
    padding-right: 60px;
  }
  .step-wrapper .main-container{
    padding-left: 80px;
    padding-right: 80px;
  }
  .design-text .text{
    padding-right: 5px;
  }
  
}
@media (max-width: 1199px) {
  .slide-container .line img{
    width: 100%;
  }
  .step-wrapper .main-container{
    padding-left: 0;
    padding-right: 0;
  }
  .container{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .navbar .container {
    padding-left: 0;
    padding-right: 0;
  }
  .services-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .static-block .circle {
    width: 145px;
    height: 144px;
    font-size: 15px;
    background-size: contain;
    margin-left: 30px;
  }
  .static-block .circle-cell {
    width: 145px;
    height: 144px;
  }
  .slide-container .line {
    text-align: center;
    padding-left: 30px;
  }
  .slide-container {
    width: 720px;
    margin-left: -360px;
  }
  .carousel-projects .bx-prev {
    left: 0px;
  }
  .carousel-projects .bx-next {
    right: 0px;
  }
  .logo-carousel .bx-wrapper {
    max-width: 800px !important;
    margin: auto;
  }
  .review-logo {
    width: 206px;
    height: 205px;
  }
  .review-cell {
    width: 206px;
    height: 205px;
  }
  .review-desc {
    width: 700px;
  }
  .next-link .container,
  .blog .container,
  .contacts-wrapper,
  .blog-wrapper .container {
    padding-left: 0;
    padding-right: 0;
  }
  .second-menu .container {
    padding-left: 0;
    padding-right: 0;
  }
  .design .container {
    padding-left: 0;
    padding-right: 0;
  }
  .main-container {
    padding-left: 0;
    padding-right: 0;
  }
  .main-contact .main-container{
  	padding-left: 0;
  }
	.maps{
		height: 550px;
	}
	.history-block{
		padding: 0 40px;
	}
	.designing-container{
		padding-left: 200px !important;
		padding-right: 200px !important;
	}
  .step-desc{
    width: 590px;
  }
  .step-slider{
    padding-left: 0;
  }
  .step-slider .bx-wrapper .bx-next{
    right: -50px;
  }
}


@media (max-width: 991px) {
  .table-month thead td{
    padding: 0;
  }
  .promo-block .price{
    padding-left: 0;
    margin-top: 10px;
  }
  .variant .title{
    font-size: 22px;
  }
  .step-desc{
    width: 90%;
    float: none;
    padding-left: 15px;
  }
  .step-slider .bx-wrapper .bx-next{
    right: 0;
  }
  .step-thumbnail{
    margin-bottom: 25px;
  }
  .number-slide-block{
    margin: auto;
    margin-bottom: 10px;
    float: none;
  }
  .data-slide:nth-child(5){
    margin-left: 0;
  }
  .navbar-brand {
    padding-right: 15px;
    padding-left: 20px;
  }
  .navbar-nav > li > a {
    padding: 0 9px;
  }
  .bx-wrapper .bx-prev {
    left: 0px;
  }
  .bx-wrapper .bx-next {
    right: 0px;
  }
  .bxslider li h2 {
    font-size: 42px;
  }
  .static-block .circle {
    width: 120px;
    height: 119px;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 20px;
  }
  .static-block .circle-cell {
    width: 120px;
    height: 119px;
  }
  .slide-container {
    width: 560px;
    margin-left: -280px;
  }
  .slide-container .line {
    padding-left: 15px;
  }
  .serv-title {
    font-size: 12px;
  }
  .serv-desc {
    font-size: 11px;
  }
  .about-item {
    padding-left: 0;
  }
  .carousel-bx li {
    width: 200px !important;
  }
  .carousel-projects .bx-wrapper {
    max-width: 600px !important;
  }
  .logo-carousel .bx-wrapper {
    max-width: 600px !important;
  }
  .review-desc {
    width: 500px;
  }
  .review-desc {
    font-size: 18px;
  }
  .review-desc-cell {
    height: 205px;
  }
  .news-carousel .bx-wrapper {
    max-width: 600px !important;
  }
  .news-carousel .bx-wrapper .bx-prev {
    left: 0px;
  }
  .news-carousel .bx-wrapper .bx-next {
    right: 0px;
  }
  .contact-block {
    width: 30%;
    margin-left: 3%;
  }
  .bx-wrapper .bx-controls-direction a {
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background-size: contain !important;
  }
  .footer-menu {
    padding-left: 15px;
  }
  .design-slide {
    padding-left: 0;
    padding-right: 0;
  }
  .design-slider {
    width: 210px;
  }
  .design-slide .order-btn {
    width: 210px;
    height: 45px;
    line-height: 45px;
  }
  .design-text .text {
    font-size: 16px;
  }
  .design-text .list {
    font-size: 14px;
  }
  .second-menu li {
    padding: 31px 0 !important;
  }
  .footer-menu-second li{
  	width: auto;
  }
  .maps{
		height: 450px;
	}
	.history-block{
		padding: 0 15px;
	}
	.team-block .title{
		font-size: 20px;
	}
	.team-block .name{
		font-size: 14px;
	}
	.my-review-text{
		padding-left: 20px;
		padding-right: 20px;
	}
	 .promo-item{
	 	padding-left: 15px !important;
	 	padding-right: 15px !important;
	 }
   .development-wrapper .icon-block{
      margin-bottom: 15px;
   }

}

  @media (min-width: 768px) and (max-width: 991px) { 
    .about-block{
    width: 135px;
    height: 135px;
  }
  .about-desc-cell{
    width: 135px;
  }
  .about-desc-cell .large-text{
    font-size: 26px;
  }
  .about-desc-cell .large {
    font-size: 40px;
    line-height: 34px;
}
}
@media (max-width: 767px) {
  
  .pop-up{
    width: 90%;
    margin-left: -45%;
  }
    .pop-up header{
      font-size: 26px;
    }
    .pop-up input[type="submit"]{
      width: 90%;
    }

  .tech-container{
    width: 100%;
  }
  .show-tarif{
    width: 65%;
  }
  .support-icon,
  .support-desc{
    float: none;
    width: 100%;
  }
  .table-month thead{
    font-size: 12px;
  }
  .table-month tbody{
    font-size: 12px;
  }
  .table-month tbody .large-text{
    font-size: 12px;
  }
  .table-month tbody .large-price{
    font-size: 14px;
  }
   .order-tarif{
    font-size: 12px;
   }
  .social-sign img{
    margin-right: 0;
  }
  .proj-text .proj-img{
    width: 100%;
    float: none;
  }
  .proj-text .proj-right{
    width: 100%;
    float: none;
  }
  .proj-text{
    margin-top: 30px;
  }
  .top-links{
    margin-top: 10px;
  }
  .proj-text .proj-right ul,
  .proj-text .proj-right p{
    font-size: 18px;
  }
  .submit .container{
    padding-left: 0;
    padding-right: 0;
  }
  .number-slide-block{
    float: none;
    margin:auto;
  }
  .navbar-right {
    position: absolute;
    top: 0;
    width: 200px;
    left: 50%;
    margin-left: -100px !important;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse {
    padding-right: 0;
  }
  .nav {
    height: auto;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: none;
  }
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    border-color: transparent;
  }
  .navbar-nav > li > a {
    line-height: 45px;
  }
  .services-container {
    padding-left: 0;
    padding-right: 0;
  }
  .serv-block {
    border-left: 0;
    border-bottom: 1px solid #d2dbdb;
  }
  .services-item:last-child {
    border-bottom: 0;
  }
  .serv-title {
    font-size: 15px;
  }
  .serv-desc {
    font-size: 13px;
  }
  .about-item {
    margin-left: -20px;
    padding-top: 40px;
    display: block;
  }
  .about-block {
    margin-left: 17px;
    margin-bottom: 20px;
    float: left;
  }
  .about-block:last-child {
    margin-left: 100px;
  }
  .about-wrapper {
    width: 320px;
    margin: auto;
  }
  .read-more {
    margin-top: 40px;
  }
  .about-us {
    padding-bottom: 60px;
  }
  .carousel-bx li {
    width: 309px !important;
  }
  .carousel-projects .bx-wrapper {
    max-width: 309px !important;
  }
  .bx-controls-direction {
    width: 320px;
    margin-left: -160px;
  }
  .bx-wrapper .bx-prev {
    left: -50px;
  }
  .bx-wrapper .bx-next {
    right: -50px;
  }
  .submit-form {
    width: 90%;
  }
  .submit-form fieldset {
    width: 90%;
  }
  .submit-btn {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
  }
  .news-carousel .bx-wrapper {
    max-width: 288px !important;
  }
  .news-carousel .bx-wrapper .bx-prev {
    left: -45px;
  }
  .news-carousel .bx-wrapper .bx-next {
    right: -45px;
  }
  .news-carousel {
    margin-top: 30px;
  }
  .news {
    padding-bottom: 50px;
  }
  .contact-item {
    width: 288px;
    margin: auto;
    margin-top: 30px;
  }
  .contact-block {
    width: 288px;
    float: none;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .copyright {
    padding-top: 35px;
  }
  .contacts {
    padding-bottom: 60px;
  }
  .logo-block,
  .logo-cell {
    width: 120px;
    height: 119px;
  }
  .logo-bx li {
    width: 120px !important;
  }
  .logo-carousel .bx-wrapper {
    max-width: 380px !important;
    margin: auto;
  }
  .review-wrapper {
    margin-top: 25px;
  }
  .review-logo {
    width: 30%;
    height: 150px;
  }
  .review-desc {
    width: 70%;
    font-size: 16px;
    padding-left: 15px;
  }
  .review-desc b {
    margin-top: 20px;
  }
  .review-carousel {
    margin-top: 20px;
  }
  .next-link .container,
  .blog .container,
  .contacts-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .blog h1 {
    margin-top: 40px;
  }
  .prev-article,
  .next-article {
    width: 200px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
  }
  .blog-text {
    font-size: 18px;
  }
  .static-block .circle {
    width: 70px;
    height: 69px;
    font-size: 8px;
    margin-top: -20px;
  }
  .static-block .circle-cell {
    width: 70px;
    height: 69px;
  }
  .slide-container .line {
    margin-top: 0;
  }
  .slide-container {
    width: 360px;
    margin-left: -180px;
  }
  .main-slider .bx-controls-direction {
    width: 360px;
    margin-left: -180px;
  }
  .bxslider li .title {
    top: 50px;
  }
  .bx-img {
    height: 400px;
  }
  .slide-container {
    top: 285px;
  }
  .order-site {
    margin-top: 50px;
  }
  .order-link {
    width: 235px;
    height: 50px;
    line-height: 50px;
  }
  .bxslider li h2 {
    font-size: 30px;
  }
  .main-slider .bx-wrapper .bx-next {
    right: -65px;
  }
  .main-slider .bx-wrapper .bx-prev {
    left: -65px;
  }
  .post-img,
  .post-text {
    width: 100%;
    float: none;
    text-align: center;
  }
  .post-img {
    padding-bottom: 10px;
  }
  .article-post {
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .post-text h2 {
    font-size: 24px;
  }
  .post-text p,
  .post-text a {
    font-size: 16px;
  }
  .post-text {
    padding: 0 10px;
  }
  .read-article {
    height: 45px;
    line-height: 45px;
    width: 225px;
    font-size: 15px;
  }
  .about-text {
    margin-right: 15px;
    margin-left: 15px;
    padding: 20px 30px;
    margin-top: 35px;
  }
  .about-text h2 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .about-text p {
    font-size: 16px;
  }
  .icon-block {
    margin-bottom: 15px;
  }
  .design-logo,
  .design-text,
  .design-slide {
    width: 100%;
  }
  .design-text .text {
    height: auto;
    margin-bottom: 10px;
  }
  .design-text .list {
    margin-bottom: 10px;
  }
  .design-slider {
    width: 275px;
  }
  .design-slide .order-btn {
    width: 275px;
    height: 55px;
    line-height: 55px;
  }
  .second-menu li {
    float: none;
    width: 100% !important;
    padding: 10px 0 !important;
    text-align: center;
  }
  .second-menu li:last-child {
    text-align: center;
  }
  .contact-list{
  		width: 100%;
		float: none;
		margin-bottom: 15px;
		padding: 20px 25px 20px 35px;
  } 
  .contact-form{
  		width: 100%;
  		float: none;
  }
  .main-contact-content{
  	margin-left: 15px;
  	margin-right: 15px;
  }
  .main-contact{
  	padding-bottom: 40px;
  }
   .maps{
		height: 350px;
	}
	.team-block{
		width: 33.3%;
		margin-bottom: 10px;
		padding-left: 15px;
	}
	.principles-list{
		font-size: 24px;
		margin-top: 40px;
	}
	.view-portfolio{
		padding: 40px 15px;
	}
	.my-review-logo{
		width: 100%;
		float: none;
	}
	.my-review-text{
		width:100%;
		float: none;
		text-align: center;
		padding-left: 0;
		padding-right: 0;
	}
	.my-review-text a{
		float: none;
		margin: auto;
		margin-top: 30px;
	}
	.other-second-menu .navbar-collapse{
		padding-left: 15px;
	}
	.promo-wrapper .icon-cell,
	.promo-block .price{
		padding-left: 0;
	}
	.promo-block{
		width: 100% !important;
		float: none;
		text-align: center;
	}
	.promo-block .title{
		width: 100% !important;
	}
	.adver-img{
		height: 90px;
	}
	.advertising-wrapper .col-sm-3,
	.promo-text{
		margin-bottom: 15px;
	}
	.designing-container{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
  .pop-up input[type="submit"]{
    font-size: 14px;
  }
  .pop-up input[type="text"]{
    font-size: 14px;
  }
}

@media(max-width: 650px){
  .data-slide:nth-child(5){
    margin-left: -20px;
  }
  .data-slide:nth-child(4){
    margin-left: 0;
  }
  .step-desc h2{
    font-size: 22px;
  }
  .step-desc p{
    font-size: 16px;
  }
  .step-desc{
    width: 70%;
  }
  .step-info .number-slide{
    width: 90px;
    height: 90px;
    font-size: 38px;
  }
  .step-info .number-slide-cell{
    width: 90px;
    height: 85px;
  }


}
@media (max-width: 500px) {
  .pop-up header{
    font-size: 22px;
  }
  .data-slide:nth-child(4){
    margin-left: -20px;
  }
  .data-slide:nth-child(3){
    margin-left: 0;
  }
  .data-slide:nth-child(5){
    margin-left: 0;
  }
	.about-item{
		margin-left: -10px;
	}
	.about-block{
		margin-left: 10px;
	}
	.red-link{
		height: 50px;
		line-height: 50px;
		width:280px;
	}
	.principles-list{
		font-size: 18px;
	}
  .main-slider .bx-wrapper .bx-controls-direction a {
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
  .main-slider .bx-wrapper .bx-next {
    right: -40px;
  }
  .main-slider .bx-wrapper .bx-prev {
    left: -40px;
  }
  .submit-btn {
    font-size: 14px;
    width: 90%;
  }
  h1 {
    font-size: 26px;
  }
  .input-text {
    font-size: 16px;
  }
  .carousel-bx li {
    width: 230px !important;
  }
  .carousel-projects .bx-wrapper {
    width: 230px !important;
  }
  .bx-wrapper .bx-next {
    right: -10px;
  }
  .bx-wrapper .bx-prev {
    left: -10px;
  }
  .news-carousel li {
    width: 230px !important;
  }
  .news-carousel .bx-wrapper {
    max-width: 230px !important;
  }
  .news-carousel .bx-wrapper .bx-prev {
    left: -10px;
  }
  .news-carousel .bx-wrapper .bx-next {
    right: -10px;
  }
  .news-carousel .news-text,
  .news-carousel .text-cell {
    height: 145px;
  }
  .prev-article,
  .next-article {
    width: 110px;
    font-size: 10px;
    height: 40px;
    line-height: 40px;
  }
  .link-wrapper {
    padding: 35px 0;
  }
  .static-block .circle {
    margin-left: 5px;
  }
  .slide-container,
  .main-slider .bx-controls-direction {
    width: 305px;
    margin-left: -152.5px;
  }
  .team-block{
  	width: 50%;
  	text-align: center;
  	padding-left: 0;
  }
}
@media (max-width: 420px) {
   .about-desc-cell .large{
      font-size: 34px;
      line-height: 29px;
   }
   .about-desc-cell .middle-text{
      font-size: 16px;
   }
   .about-desc-cell .small{
      font-size: 12px;
   }
   .about-desc-cell .large-text{
      font-size: 24px;
   }
   .about-block{
      width: 128px;
      height: 128px;
   }
   .about-desc-cell{
      width: 128px;
      height: 83px;
   }
   .about-wrapper{
      width: 280px;
   }

  .static-block .circle {
    width: 50px;
    height: 49px;
    font-size: 6px;
    margin-top: -12px;
  }
  .slide-container,
  .main-slider .bx-controls-direction {
    width: 225px;
    margin-left: -112.5px;
  }
  .static-block .circle-cell {
    width: 50px;
    height: 49px;
  }
  .order-link {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 200px;
  }
  .bxslider li h2 {
    font-size: 24px;
  }
  .bx-img {
    height: 330px;
  }
  .slide-container {
    top: 250px;
  }
  .nav .telephone {
    font-size: 18px;
  }
  .navbar-right {
    width: 140px;
    top: 5px;
    margin-left: -63px !important;
  }
  .nav .leave-request {
    font-size: 15px;
  }
  .contact-item {
    width: 265px;
  }
  .contact-block {
    width: 265px;
    margin: auto;
    margin-bottom: 20px;
  }
  .carousel-bx li {
    width: 180px !important;
  }
  .carousel-projects .bx-wrapper {
    max-width: 180px !important;
  }
  .bx-wrapper .bx-prev {
    left: 15px;
  }
  .bx-wrapper .bx-next {
    right: 15px;
  }
  .news-carousel li {
    width: 180px !important;
  }
  .news-carousel .bx-wrapper {
    max-width: 180px !important;
  }
  .news-carousel .text-cell {
    width: 180px;
    padding: 0 10px;
  }
  .news-carousel .bx-wrapper .bx-prev {
    left: 15px;
  }
  .news-carousel .bx-wrapper .bx-next {
    right: 15px;
  }
  .submit-btn {
    height: 40px;
    font-size: 12px;
  }
  .design-slider {
    width: 210px;
  }
  .design-slide .order-btn {
    width: 210px;
    height: 45px;
    line-height: 45px;
  }
  .info-slide .order-btn{
  		width: 215px;
  		height: 45px;
  		line-height: 45px;
  }
  .data-slide{
    margin-left: 0 !important;
    float: none !important;
    margin-bottom: 10px;
  }
  .step-thumbnail{
    width: 175px;
    margin: auto;
  }
}


